/** kitadmin-v2.1.0 MIT License By http://kit.zhengjinfan.cn Author Van Zheng */
*{box-sizing:border-box;}

@media screen and (min-width: 1024px){
  html{font-size: 8.53px}
} /*>=1024的设备*/
@media screen and (min-width: 1100px) {
  html{font-size: 9.17px}
} /*>=1024的设备*/
@media screen and (min-width: 1280px) {
  html{font-size: 10.67px;}
} 
@media screen and (min-width: 1366px) {
  html{font-size: 11.38px;}
}  
@media screen and (min-width: 1440px) {
  html{font-size: 12px;}
}
@media screen and (min-width: 1560px) {
  html{font-size: 13px;}
}
@media screen and (min-width: 1680px) {
  html{font-size: 14px;}
} 
@media screen and (min-width: 1800px) {
  html{font-size: 15px;}
} 
@media screen and (min-width: 1920px) {
  html{font-size: 16px;}
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p, textarea {
    padding: 0;
    margin: 0;
    font-family: "Miscrosoft YaHei";
}

html {
    height: 100%;
    color: #FFFFFF;
}
body {
    height: 100%;
    width: 100%;
    background: url("../images/login/login-bg.png") no-repeat;
    background-size: cover;
}

.logo {
    width: 4.44rem;
    height: 4.44rem;
    background: url("../images/login/logo.png") no-repeat;
    background-size: cover;
}

.title {
    margin-top: 1.7rem;
    font-size: 2.25rem;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .layui-form {
    width: 23rem;
}

.main .layui-input {
    width:23rem;
    height:3rem;
    margin-top: 3rem;
    background:rgba(255,255,255,0.2);
    border: none;
    color: #FFF;
}

.layui-form-item {
    line-height: 1rem;
}

.layui-form-item .layui-form-checkbox {
    width:1rem;
    height:1rem;
    background-color: transparent;
    line-height: 1rem;
    margin: 0 1rem;
    padding: 0;
    float: left;
    vertical-align: middle;
}

.layui-form-checkbox i {
    position: absolute;
    right: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border:1px solid rgba(0,255,255,.4);
    border-radius: 0;
    color: transparent;
    font-size: .75rem;
    text-align: center;
    overflow: hidden;
}

.layui-form-checked i, .layui-form-checked:hover i {
    color: #5FB878;
}

.ps-txt {
    float: left;
}

.ps-btn {
    float: right;
    height:1rem;
    color:rgba(255,255,255,1);
    background: none;
    border: none;
    line-height:1rem;
    cursor: pointer;
}

.layui-btn {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    line-height: 2rem;
    padding: 0 1rem;
    margin-top: 3rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    white-space: nowrap;
    text-align: center;
    border:1px solid rgba(0,255,255,1);
    border-radius:1.5rem;
    cursor: pointer;
}

body .layui-layer-title {
    padding: 0;
}

body .layui-layer-dialog .layui-layer-content {
    color: #000;
}

body .layui-layer-hui {
    background-color: #FFF;
}